@import url('https://fonts.googleapis.com/css?family=Abel:400&display=swap');

#message {

}

body {
  background: black;
  color: white;
  font-family: Abel;
}

h1 {
  font-size: 120px;
  font-family: "Georgia", serif;
  font-weight: bolder;
  font-stretch:extra-expanded;
  text-align: center;
  color: orange;
  font-style: italic;
}

h2 {
  color: orange;
  font-size: 80px;
}

h3 {
  font-size: 50px;
}
.mainmenubtn {
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
    border-radius: 30px;
    font-size: 30px;
    width: 150px;
    font-weight: bold;
    font-family: Abel;
}

.mainmenubtn:hover {
    background-color: grey;
    }

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: black;
    min-width: 100px;
    border-radius: 30px;
    font-size: 20px;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
    border-radius: 30px;
}

.dropdown-child a:hover {
  background-color: orange;
}

.dropdown:hover .dropdown-child {
    display: block;
}
