body {
  margin: 0px;
  background-color: black;

}

h1 {
  font-size: 120px;
  font-family: "Georgia", serif;
  font-weight: bolder;
  font-stretch: extra-expanded;
  text-align: center;
  font-style: italic;
  color: white;
  background-image: url("https://i.pinimg.com/originals/0b/3e/92/0b3e922a2deee03aa975e9e0a29a7803.jpg");
  height: 150px;
  margin: 0px;
  padding-top: 15%;
  width: 100%;

}
