@import url('https://fonts.googleapis.com/css?family=Abel:400&display=swap');

#message {

}

body {
  background: black;
  color: white;
  font-family: Abel;
}

.mainmenubtn {
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
    border-radius: 30px;
    font-size: 20px;
}

.mainmenubtn:hover {
    background-color: black;
    }

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: black;
    min-width: 100px;
    border-radius: 30px;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
    border-radius: 30px;
}

.dropdown-child a:hover {
  background-color: orange;
}

.dropdown:hover .dropdown-child {
    display: block;
}
